node_modules/
.next/
out/
dist/
coverage/
.env
.env.*
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
uploads/
public/uploads/
tmp/
docker-data/
*.pid

/generated/prisma
# local backups
*.bak
*.bak_*
*.bak-*
*.backup.*
*.tmp

# build & deps
.next/
node_modules/
dist/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
